$blue: #00cee6;
$blue-transparent: rgba(0, 206, 230, 0.05);
// $green: #1de9b6;
$green: #1ad2a4;
$green-transparent: rgba(26, 210, 164, 0.05);
$red: #f44336;
$black: #263238;

// GRADIENTS
// https://maketintsandshades.com/#00cee6,1DE9B6

$gradient: linear-gradient(
  120deg,
  rgba(0, 206, 230, 1) 0%,
  rgba(29, 233, 182, 1) 100%
);

@mixin gradient-bkg {
  background: $blue;
  background: $gradient;
}
