@import 'colors.scss';

.gradient {
  @include gradient-bkg;
}

.app-container {
  height: 100vh;
}

.container {
  max-height: 100%;
  overflow: scroll;
}

// TRANSITIONS

.flip-list-move {
  transition: transform 0.5s;
  transition: opacity 0.5s;
}

.flip-list-enter-active,
.flip-list-leave-active {
  transition: all 0.5s;
}
.flip-list-enter, .flip-list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}

// VUETIFY OVERRIDES //
.theme--light {
  color: $black;
}

// Backdrop & Content Frame
.theme--light.v-application {
  @include gradient-bkg;
  color: $black;
}

.v-content {
  height: 100vh;
  box-sizing: border-box;
}

.v-content__wrap {
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

// Buttons

// Tabs
.v-tab {
  letter-spacing: 1px;
  font-size: 1.1rem;
  &.v-tab--active {
    font-weight: 700;
  }
}
.v-tabs-slider {
  background-color: $red;
}

// Expansion Panel
.v-expansion-panel {
  color: inherit !important;
}

.v-expansion-panel::before {
  box-shadow: none;
}

.v-expansion-panel-header.outer-header {
  padding: 24px 8px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.v-expansion-panel-content__wrap {
  padding: 0 0 16px 16px;
}

.v-expansion-panel-header.inner-header {
  padding: 16px 8px;
  font-size: 1rem;
  line-height: normal;
}

// Chips

.v-chip--select {
  background-color: var(--v-primary-lighten5) !important;
}
