@import 'colors.scss';

.gradient {
  @include gradient-bkg;
}

.app-container {
  height: 100vh;
}

.container {
  max-height: 100%;
  overflow: scroll;
}

// TRANSITIONS

.flip-list-move {
  transition: transform 0.5s;
  transition: opacity 0.5s;
}

.flip-list-enter-active,
.flip-list-leave-active {
  transition: all 0.5s;
}
.flip-list-enter, .flip-list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}

// VUETIFY OVERRIDES //
.theme--light {
  color: $black;
}

// Backdrop & Content Frame
.theme--light.v-application {
  @include gradient-bkg;
  color: $black;
}

.v-toolbar__content {
  width: 100%;
  padding: 4px 16px;
}

.v-content {
  height: 100vh;
  box-sizing: border-box;
}

.v-content__wrap {
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

// Buttons

// Tabs
.v-tab {
  letter-spacing: 1px;
  font-size: 1.1rem;
  &.v-tab--active {
    font-weight: 700;
  }
}

.v-tabs-slider-wrapper {
  height: 2.5px !important;
}

.v-tabs-slider {
  background-color: $red;
}
@media (max-width: 960px) {
  .v-tab--active::before {
    opacity: 0 !important;
  }
}

// Expansion Panel
.v-expansion-panel {
  color: inherit !important;
}

.v-expansion-panel::before {
  box-shadow: none;
}

.v-expansion-panel-header.outer-header {
  padding: 24px 8px;
  font-size: 1.15rem;
  letter-spacing: 0px;
  font-weight: 600;

  .v-item--active & {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.v-expansion-panel-content__wrap {
  padding: 0 0 16px 0px;
}

.inner-panel {
  &.v-item--active {
    background-color: $blue-transparent !important;
    padding: 12px 0;
    margin-bottom: 8px;

    &.secondary-theme {
      background-color: $green-transparent !important;
    }
  }
  &.v-expansion-panel::after {
    height: 8px;
    background-color: white;
  }
  .v-expansion-panel-header {
    padding: 8px 0 8px 14px;
    font-size: 1rem;
    line-height: normal;
  }
  .v-expansion-panel-content__wrap {
    padding-left: 14px;
    padding-bottom: 10px;
  }
}

// Buttons

.v-btn__content {
  letter-spacing: 1px;
}

@media (max-width: 960px) {
  .v-btn:hover::before {
    opacity: 0 !important;
  }
}

// Chips

.v-chip--select {
  background-color: var(--v-primary-lighten5) !important;
}

// Badge

.small-badge {
  .v-badge__badge {
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
  }
}
